/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Html project Start*/
html {
  font-family: "nyt-franklin", "helvetica", "arial", sans-serif;
  font-size: 65%;
}

header {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
}

.nav-left-container {
  font-size: 2rem;
}

.nav-icon {
  margin-right: 10px;
  cursor: pointer;
}

.space-and-cosmos {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;  
  font-weight: bold;
  color: black;
}
.space-and-cosmos:hover {
  text-decoration: underline;
}

.main-logo-container {
  width: 195px;
  height: 26px;
  margin: 6px auto 0;
}

.button {
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  height: 32px;
  padding: 10px;
  margin-left: 5px;
  outline: none
}

.button:active {
  background-color: #195f94;
}

.h1container {  
  width: 600px;
  margin: 40px auto 20px auto;
}

.h1container h1 {
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 600;
  font-style: italic;
  margin: 0 20px 1rem;
  text-align: left;
  font-size: 3.25rem; 
}

.main-img-container {
  display: block;
  margin: auto;
  width: 80%;
}